* {
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

.container{
	width: 100vw;
	height: 100vh;
	background-color: #aeba92;
	padding: 0 8%;

}

.content{
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	margin-right: 30px;
	margin-left: 30px;
	color: #fff;
}

.content p{
	font-size: 32px;
	font-weight: 300;
}

.content h1{
	font-size: 64px;
	font-weight: 600;
}

.content h1 span{
	color: #9c7168;
}

.launch-time{
	display: flex;
}

.launch-time div{
	flex-basis: 100px;
}

.launch-time div p{
	font-size: 60px;
	margin-bottom: -14px;
}